table {
  width: 100%;
}

th {
  text-align: left;
  min-width: 120px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

th, td {
  padding: 8px;
}

.table {
  height: calc(100vh - 330px);
  overflow: auto;
  margin-top: 16px;
  border: 1px solid #dee2e6;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.info {
  
}
