table {
  width: 100%;
  margin-top: 16px;
  border-spacing: 0;

  th {
    text-align: left;
    min-width: 120px;
    position: sticky;
    top: 68px;
  }
  
  th, td {
    padding: 8px;
  }

  tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
  }

  td {
    border: 1px solid #dee2e6;
  }
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-column {
  display: flex;
  align-items: center;
  cursor: pointer;
}
